body
{
	background-color:#CECECE;
	background-image:url(images/background.jpg);
	color:white
}

header
{
	vertical-align:top;
	text-align:center;
}	

section#contents
{
	display:inline-block;
	margin-left:20%;
	margin-right:20%;
	border-top-style:solid;
	border-top-width:4px;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-color:black;
}

h1
{
	vertical-align:top;
	text-align:center
}

p 
{
	text-align:justify;
	padding-left:2%;
	padding-right:2%;
}