body
{
	background-image:url(./Images/background2.png);
	background-attachment:fixed;
	background-size:cover;
	color:white;
	margin-top:3%;
	font-family:arial;
}

header
{
	vertical-align:top;
	text-align:center;
}

section#contents
{
	display:inline-block;
	margin-left:20%;
	margin-right:20%;
	border-top-style:solid;
	border-top-width:4px;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-color:black;
}

h1
{
	vertical-align:top;
	text-align:center
}

p
{
	text-align:justify;
	padding-left:2%;
	padding-right:2%;
}

footer
{
	vertical-align:bottom;
border-top-color:black;
border-top-width:1px;
border-top-style:solid;
text-align:center;
margin-top:5%
}

.logos
{
	position:relative;
display:inline-flex;
flex-direction:row;
justify-content:space-around;
width:1%;
height:1%;
}
