@font-face
{
	font-family:danger;
	src:url('./danger.ttf')
}

body
{
	background-image:url(./Images/background2.png);
	background-attachment:fixed;
	background-size:cover;
	color:white;
	margin-top:3%;
	font-family:arial;
}
header
{
vertical-align:top;
font-family:danger;
text-align:center;
color:black;
display: inline;
}
h1
{
	position:relative;
	color:black;
border-width:1px;
border-style:solid;
border-color:transparent;
background-image:url("image/Logo.png");
background-size:cover;
font-size: 200%;
max-width:60%;
background-position:50%;
margin-left: 25%;
margin-right: 25%;
transition:all 2s ease;
}
header img
{max-width:10%;
margin-left:45%;
}
#nav
{
padding:0;
margin:0;
margin-bottom:1%;
text-align:center;

}

#nav li
{
	background-image:url("image/Logo.png");
	background-size:100%;
display:inline;
list-style:none;
border-width:1px;
border-style:solid;
border-color:transparent;
border-top-left-radius:1.5em;
}
#nav a
{
display:inline-block;
margin:0 2%;
color:black;
text-decoration: none;
font-size: 100%;
text-align: center;
}
em
{
	color:#255ebc;
	font-weight:bold;
	font-style:normal;
}
#cadre
{
	font-family:danger;
	text-align: center;
	font-size:200%;
  display:inline-block;
	width:80%;
}
#cadre+p
{display:inline-block;
width:15%;}
.imagedesc
{
display:flex;
justify-content:space-between;
margin-left:10%;
}

div#imgban
{
	height:120%;
	width:80%;
	border-width:2px ;
	border-style:solid;
	border-color:white;
	background-image:url(images/usflag.jpg);
	text-align:center;
	background-position:50% 0%;
	display:inline-block;
}
#img
{
	position:relative;
	width:70%;
	height: 100%;
	text-align:center;
}
div#desc
{
	width:40%;
	height:50%;
	margin-right:10%;
	text-align:justify;
	padding-left:2.5em;
}

.infoachat
{
	position:relative;
	margin-top: 15%;
	display:flex;
	justify-content: space-between;
	align-items:stretch;
	margin-left:10%;
	height:25%;
}

#Informations
{
	display:inline-block;
}

div#Prix
{
	display: flex;
	justify-content: space-between;
	align-items:center;
 font-size:50px;
}

div#Infos
{
	font-weight:normal;
}

#Commentaire
{

	margin-right:17%;
	display:flex;
	flex-direction:column;
	align-items:center;
	float:right;
}

textarea
{
	width:200%;
	height:15em;
}

button#addtobucket
{
	width:100%;
	color:white;
}

button
{
	background-color:grey;
}

footer
{
	vertical-align:bottom;
border-top-color:black;
border-top-width:1px;
border-top-style:solid;
text-align:center;
margin-top:5%
}

.logos
{
	position:relative;
display:inline-flex;
flex-direction:row;
justify-content:space-around;
width:1%;
height:1%;
}
