body
{
	background-image:url(./Images/background2.png);
	background-attachment:fixed;
	background-size:cover;
	color:white;
	margin-top:3%;
	font-family:arial;
}

h1
{
	text-align:center;
	margin-left:20%;
	margin-right:20%;
	padding-bottom:2%;
}

section#coords
{
	padding-top:2%;
	padding-bottom:2%;
	margin-left:25%;
	margin-right:25%;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color:black;
	border-top-style:solid;
	border-top-width:4px;
	border-top-color:black;
}

section#buttons
{
	display:inline;
	text-align:center;
	padding-top:2%;
	margin-left:45%;
}

footer
{
	vertical-align:bottom;
border-top-color:black;
border-top-width:1px;
border-top-style:solid;
text-align:center;
margin-top:17%
}

.logos
{
	position:relative;
display:inline-flex;
flex-direction:row;
justify-content:space-around;
width:1%;
height:1%;
}
